<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="AutentificarSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="AutentificarSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://www.cloud-asae.com.mx/Login_WS/Autentificar.asmx"
                binding="basicHttpBinding" bindingConfiguration="AutentificarSoap"
                contract="WSautentificar.AutentificarSoap" name="AutentificarSoap" />
        </client>
    </system.serviceModel>
</configuration>