#cssmenu ul,
#cssmenu li,
#cssmenu span,
#cssmenu a {
    margin: 0;
    padding: 0;
    position: relative;
}

#cssmenu {
    line-height: 1;
    border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    background: #141414;
    background: -moz-linear-gradient(top, #015891 0%, #023456 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #015891), color-stop(100%, #023456));
    background: -webkit-linear-gradient(top, #015891 0%, #023456 100%);
    background: -o-linear-gradient(top, #015891 0%, #023456 100%);
    background: -ms-linear-gradient(top, #015891 0%, #023456 100%);
    background: linear-gradient(to bottom, #015891 0%, #023456 100%);
    border-bottom: 2px solid #0fa1e0;
    width: auto;
}

    #cssmenu:after,
    #cssmenu ul:after {
        content: '';
        display: block;
        clear: both;
    }

    #cssmenu a {
        background: #141414;
        background: -moz-linear-gradient(top, #015891 0%, #023456 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #015891), color-stop(100%, #023456));
        background: -webkit-linear-gradient(top, #015891 0%, #023456 100%);
        background: -o-linear-gradient(top, #015891 0%, #023456 100%);
        background: -ms-linear-gradient(top, #015891 0%, #023456 100%);
        background: linear-gradient(to bottom, #015891 0%, #023456 100%);
        color: #ffffff;
        display: block;
        font-family: Helvetica, Arial, Verdana, sans-serif;
        padding: 19px 20px;
        text-decoration: none;
    }

    #cssmenu ul {
        list-style: none;
    }

    #cssmenu > ul > li {
        display: inline-block;
        float: left;
        margin: 0;
    }

    #cssmenu.align-center {
        text-align: center;
    }

        #cssmenu.align-center > ul > li {
            float: none;
        }

        #cssmenu.align-center ul ul {
            text-align: left;
        }

    #cssmenu.align-right > ul {
        float: right;
    }

    #cssmenu.align-right ul ul {
        text-align: right;
    }

    #cssmenu > ul > li > a {
        color: #ffffff;
        font-size: 12px;
    }

    #cssmenu > ul > li:hover:after {
        content: '';
        display: block;
        width: 0;
        height: 0;
        position: absolute;
        left: 50%;
        bottom: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #0fa1e0;
        margin-left: -10px;
    }

    #cssmenu > ul > li:first-child > a {
        border-radius: 5px 0 0 0;
        -moz-border-radius: 5px 0 0 0;
        -webkit-border-radius: 5px 0 0 0;
    }

    #cssmenu.align-right > ul > li:first-child > a,
    #cssmenu.align-center > ul > li:first-child > a {
        border-radius: 0;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
    }

    #cssmenu.align-right > ul > li:last-child > a {
        border-radius: 0 5px 0 0;
        -moz-border-radius: 0 5px 0 0;
        -webkit-border-radius: 0 5px 0 0;
    }

    #cssmenu > ul > li.active > a,
    #cssmenu > ul > li:hover > a {
        color: #ffffff;
        box-shadow: inset 0 0 3px #000000;
        -moz-box-shadow: inset 0 0 3px #000000;
        -webkit-box-shadow: inset 0 0 3px #000000;
        background: #070707;
        background: -moz-linear-gradient(top, #107DC6 0%, #0E476D 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #107DC6), color-stop(100%, #0E476D));
        background: -webkit-linear-gradient(top, #107DC6 0%, #0E476D 100%);
        background: -o-linear-gradient(top, #107DC6 0%, #0E476D 100%);
        background: -ms-linear-gradient(top, #107DC6 0%, #0E476D 100%);
        background: linear-gradient(to bottom, #107DC6 0%, #0E476D 100%);
    }

    #cssmenu .has-sub {
        z-index: 1;
    }

        #cssmenu .has-sub:hover > ul {
            display: block;
        }

        #cssmenu .has-sub ul {
            display: none;
            position: absolute;
            width: 200px;
            top: 100%;
            left: 0;
        }

    #cssmenu.align-right .has-sub ul {
        left: auto;
        right: 0;
    }

    #cssmenu .has-sub ul li {
        *margin-bottom: -1px;
    }

        #cssmenu .has-sub ul li a {
            background: #0fa1e0;
            border-bottom: 1px dotted #31b7f1;
            font-size: 12px;
            filter: none;
            display: block;
            line-height: 120%;
            padding: 10px;
            color: #ffffff;
        }

        #cssmenu .has-sub ul li:hover a {
            background: #0c7fb0;
        }

    #cssmenu ul ul li:hover > a {
        color: #ffffff;
    }

    #cssmenu .has-sub .has-sub:hover > ul {
        display: block;
    }

    #cssmenu .has-sub .has-sub ul {
        display: none;
        position: absolute;
        left: 100%;
        top: 0;
    }

    #cssmenu.align-right .has-sub .has-sub ul,
    #cssmenu.align-right ul ul ul {
        left: auto;
        right: 100%;
    }

    #cssmenu .has-sub .has-sub ul li a {
        background: #0c7fb0;
        border-bottom: 1px dotted #31b7f1;
    }

        #cssmenu .has-sub .has-sub ul li a:hover {
            background: #97BD49;
        }

    #cssmenu ul ul li.last > a,
    #cssmenu ul ul li:last-child > a,
    #cssmenu ul ul ul li.last > a,
    #cssmenu ul ul ul li:last-child > a,
    #cssmenu .has-sub ul li:last-child > a,
    #cssmenu .has-sub ul li.last > a {
        border-bottom: 0;
    }





/*ul#css3menu1,ul#css3menu1 ul{
	margin:0;list-style:none;padding:0;background-color:#FFFFFF;border-width:0;border-style:solid;}
ul#css3menu1 ul{
	display:none;position:absolute;left:0;top:100%;background-color:#E3E3E3;border-width:1px;border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;border-style:solid;border-color:#D3D2D2 #D3D2D2 #E3E3E3;padding:0 0 3px;}
ul#css3menu1 li:hover>*{
	display:block;}
ul#css3menu1 li{
	position:relative;display:block;white-space:nowrap;font-size:0;float:left;}
ul#css3menu1 li:hover{
	z-index:1;}
ul#css3menu1{
	font-size:0;z-index:999;position:relative;display:inline-block;zoom:1;padding:0;background-color:#f5f5f5;border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;
	*display:inline;}
* html ul#css3menu1 li a{
	display:inline-block;}
ul#css3menu1>li{
	margin:0;}
ul#css3menu1 a:active, ul#css3menu1 a:focus{
	outline-style:none;}
ul#css3menu1 a{
	display:block;vertical-align:middle;text-align:left;text-decoration:none;font:bold 14px Arial;color:#0079b5;cursor:default;padding:3px;background-color:;background-repeat:repeat;border-width:0px;border-style:none;border-color:;}
ul#css3menu1 ul li{
	float:none;margin:0;}
ul#css3menu1 ul a{
	text-align:left;padding:10px 12px;background-color:#f5f5f5;border-width:0 0 1px 0;border-style:solid;border-color:#D3D2D2;border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;font:bold 14px Arial;color:#0079b5;text-decoration:none;}
ul#css3menu1 li:hover>a,ul#css3menu1 li a.pressed{
	border-style:none;color:#81B600;}
ul#css3menu1 li:hover>a,ul#css3menu1 li > a.pressed{
	border-style:none;color:#81B600;text-decoration:none;}
ul#css3menu1 ul li:hover>a,ul#css3menu1 ul li > a.pressed{
	background-color:#f5f5f5;border-style:solid;border-color:#D3D2D2;color:#81B600;text-decoration:none;}
ul#css3menu1>li>a{
	padding:10px 12px;}
ul#css3menu1 li.topfirst>a{
	background-color:#f5f5f5;border-width:1px 1px 4px 1px;border-style:solid;border-color:#D3D2D2 #D3D2D2 #E3E3E3 #D3D2D2;border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;padding:10px 12px;}
ul#css3menu1 li.topfirst:hover>a,ul#css3menu1 li.topfirst > a.pressed{
	background-color:#f5f5f5;border-style:solid;border-color:#D3D2D2 #D3D2D2 #81B600 #D3D2D2;}
ul#css3menu1 li.topmenu>a{
	background-color:#f5f5f5;border-width:1px 1px 4px 0px;border-style:solid;border-color:#D3D2D2 #D3D2D2 #E3E3E3 transparent;border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;padding:10px 12px;}
ul#css3menu1 li.topmenu:hover>a,ul#css3menu1 li.topmenu > a.pressed{
	background-color:#f5f5f5;border-style:solid;border-color:#D3D2D2 #D3D2D2 #81B600 transparent;}*/
ul#css3menu1,ul#css3menu1 ul{
	margin:0;list-style:none;padding:0;background-color:#3db6e3;border-width:1px;border-style:solid;border-color:#186F8F;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
ul#css3menu1 ul{
	display:none;position:absolute;left:0;top:100%;background-color:#e8e8e8;border-width:1px;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;border-style:solid;border-color:#FFFFFF #D2D4D6 #BCBDBF;-moz-box-shadow:0 2px 1px #BCBDBF;-webkit-box-shadow:0 2px 1px #BCBDBF;box-shadow:0 2px 1px #BCBDBF;padding:5px;}
ul#css3menu1 li:hover>*{
	display:block;}
ul#css3menu1 li{
	position:relative;display:block;white-space:nowrap;font-size:0;float:left;}
ul#css3menu1 li:hover{
	z-index:1;}
ul#css3menu1 ul ul{
	position:absolute;left:100%;top:0;border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;}
ul#css3menu1{
	font-size:0;width:100%;z-index:999;position:relative;display:inline-block;zoom:1;padding:0 0%;margin:0 0%;-moz-box-shadow:0 1px 0 #FFFFFF;-webkit-box-shadow:0 1px 0 #FFFFFF;box-shadow:0 1px 0 #FFFFFF;
	*display:inline;*padding-right:1.11%;}
* html ul#css3menu1 li a{
	display:inline-block;}
ul#css3menu1>li{
	margin:0;width:16%;}
ul#css3menu1 li.toplast{
	width:20%;}
body:first-of-type ul#css3menu1{
	display:inline-table;border-spacing:0px 0;}
body:first-of-type ul#css3menu1>li{
	display:table-cell;float:none;}
ul#css3menu1 a:active, ul#css3menu1 a:focus{
	outline-style:none;}
ul#css3menu1 a{
	display:block;vertical-align:middle;text-align:left;text-decoration:none;font:12px "Lucida Sans Unicode", "Lucida Grande", sans-serif;color:#FFFFFF;cursor:pointer;padding:8px;background-color:;background-image:-o-linear-gradient(-90deg,rgba(44,160,202,0),rgba(0,0,0,0.13)); background-image:-moz-linear-gradient(-90deg,rgba(44,160,202,0),rgba(0,0,0,0.13));   background-image:linear-gradient(180deg,rgba(44,160,202,0),rgba(0,0,0,0.13));  background-image:-webkit-linear-gradient(-90deg,rgba(44,160,202,0),rgba(0,0,0,0.13));background-repeat:repeat;background-position:0 0;border-width:1px 0 0 0;border-style:solid;border-color:#7fd2f1;filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr=#002CA0CA,endColorstr=#20000000)}
ul#css3menu1 ul li{
	float:none;margin:0;}
ul#css3menu1 ul a{
	text-align:left;padding:5px;background-image:none;border-width:0;border-style:none;border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;color:#333333;text-decoration:none;}
ul#css3menu1 li:hover>a,ul#css3menu1 li a.pressed{
	border-color:#7fd2f1;border-style:solid;color:#FFFFFF;background-image:-o-linear-gradient(-90deg,rgba(0,0,0,0.13),rgba(44,160,202,0)); background-image:-moz-linear-gradient(-90deg,rgba(0,0,0,0.13),rgba(44,160,202,0));   background-image:linear-gradient(180deg,rgba(0,0,0,0.13),rgba(44,160,202,0));  background-image:-webkit-linear-gradient(-90deg,rgba(0,0,0,0.13),rgba(44,160,202,0));background-position:0 100%;filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr=#20000000,endColorstr=#002CA0CA)}
ul#css3menu1 ul span{
	background-image:none;padding-right:5px;}
ul#css3menu1 > li.switch{
	display:none;cursor:pointer;width:25px;height:20px;padding:8px;}
ul#css3menu1 > li.switch:before{
	content:"";position:absolute;display:block;height:4px;width:25px;border-radius:4px;background:#FFFFFF;-moz-box-shadow:0 8px #FFFFFF, 0 16px #FFFFFF;-webkit-box-shadow:0 8px #FFFFFF, 0 16px #FFFFFF;box-shadow:0 8px #FFFFFF, 0 16px #FFFFFF;}
ul#css3menu1 > li.switch:hover:before{
	background:#FFFFFF;-moz-box-shadow:0 8px #FFFFFF, 0 16px #FFFFFF;-webkit-box-shadow:0 8px #FFFFFF, 0 16px #FFFFFF;box-shadow:0 8px #FFFFFF, 0 16px #FFFFFF;}
.c3m-switch-input{
	display:none;}
ul#css3menu1 li:hover>a,ul#css3menu1 li > a.pressed{
	background-image:-o-linear-gradient(-90deg,rgba(0,0,0,0.13),rgba(44,160,202,0)); background-image:-moz-linear-gradient(-90deg,rgba(0,0,0,0.13),rgba(44,160,202,0));   background-image:linear-gradient(180deg,rgba(0,0,0,0.13),rgba(44,160,202,0));  background-image:-webkit-linear-gradient(-90deg,rgba(0,0,0,0.13),rgba(44,160,202,0));background-position:0 100%;border-style:solid;border-color:#7fd2f1;color:#FFFFFF;text-decoration:none;filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr=#20000000,endColorstr=#002CA0CA)}
ul#css3menu1 ul li:hover>a,ul#css3menu1 ul li > a.pressed{
	background-image:none;border-style:none;color:#3db6e3;text-decoration:none;}
ul#css3menu1 li.topfirst>a{
	border-radius:4px 0 0 4px;-moz-border-radius:4px 0 0 4px;-webkit-border-radius:4px;-webkit-border-top-right-radius:0;-webkit-border-bottom-right-radius:0;}
ul#css3menu1 li.toplast>a{
	border-radius:0 4px 4px 0;-moz-border-radius:0 4px 4px 0;-webkit-border-radius:0;-webkit-border-top-right-radius:4px;-webkit-border-bottom-right-radius:4px;}
ul#css3menu1>li:nth-of-type(1){width:15%}ul#css3menu1>li:nth-of-type(2){width:17%}ul#css3menu1>li:nth-of-type(3){width:15%}ul#css3menu1>li:nth-of-type(4){width:19%}ul#css3menu1>li:nth-of-type(5){width:26%}ul#css3menu1>li:nth-of-type(6){width:8%}
@-moz-document url-prefix(){body:first-of-type ul#css3menu1{display:inline-block} body:first-of-type ul#css3menu1>li{display:block;float:left !important;}}
@media only screen and (max-width:540px),only screen and (max-device-width:540px){
ul#css3menu1>li:nth-of-type(1){width:23%}ul#css3menu1>li:nth-of-type(2){width:25%}ul#css3menu1>li:nth-of-type(3){width:23%}ul#css3menu1>li:nth-of-type(4){width:29%}ul#css3menu1>li:nth-of-type(5){width:76%}ul#css3menu1>li:nth-of-type(6){width:24%}body:first-of-type ul#css3menu1{display:inline-block} body:first-of-type ul#css3menu1>li{display:block;float:left !important;}}
@media screen and (max-width: 768px) {
	ul#css3menu1 > li {
		position: initial;}
	ul#css3menu1 ul .submenu,ul#css3menu1 li > ul {
		left: 0; right:auto; top: 100%;}
	ul#css3menu1 .submenu,ul#css3menu1 ul,ul#css3menu1 .column {
		-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;padding-right: 0;width: 100% !important;}
}
@media screen and (max-width: 359px) {
	ul#css3menu1 {
		width: 100%;}
	ul#css3menu1 > li {
		display: none;		position: relative;		width: 100% !important;}
	ul#css3menu1 > li.switch,.c3m-switch-input:checked + ul#css3menu1 > li + li {
		display: block;}
	ul#css3menu1 > li.switch > label {		position: absolute;cursor: pointer;top: 0;left: 0;right: 0;bottom: 0;}}
